.contact-jumbotron
  background-image: url("/../../assets/img/backgound/background.webp")
  background-size: cover
  background-repeat: no-repeat

.jumbotron
  background-color: #030414

.text-city
  font-size: 1.2rem
  margin: 0 0 1rem

.btn-outline-danger
  color: #dc4b3e
  border-color: #dc4b3e

.btn-outline-primary
  color: #007bff
  border-color: #007bff

.btn-outline-dark 
  color: #83888c
  border-color: #969ba0

.btn-outline-info
  color: #1A91DA
  border-color: #1A91DA

.contact-me
  color: #ffffff